html,
body {
  margin: 0;
  height: 100%;
}

#canvas {
  display: block;
}

main {
  height: 100%;
  width: 100%;
}

.button {
  padding: 12;
  background-color: white;
  border-color: white;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dot {
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: aqua;
  border-radius: 2px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.navigation__item {
  max-width: 80%;
  width: 600px;
  height: 400px;
  margin-bottom: 80px;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

.link__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__thumbnail {
  width: 100%;
  height: 100%;
}

.link__caption {
  background: transparent;
}
